@import url('https://use.typekit.net/kdg5doa.css');

/* FONT FAMILIES */
$fontPrimary: 'brandon-grotesque', sans-serif;
$fontSecondary: 'citrus-gothic-rough', sans-serif;
$fontParagraph: 'Times New Roman', Times, serif;
/* FONT WEIGHT */
$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;
/* SPACING */
$spacingStandard: 10px;
$spacingDouble: 20px;
$spacingExtraDouble: 40px;
/* COLOR */
$beige: #ffeed9;
$yellow: #ffc758;
$teal: #8dcb97;
$brown: #6e523b;
/* TRANSITIONS */
$transitionFast: 0.2s ease;
/* BREAKPOINTS */
$breakpointMobile: 768px;
$breakpointTablet: 1024px;

* {
	margin: 0;
	padding: 0;
}

*::-webkit-scrollbar {
	display: none;
}

* {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

html, body {
	background: $beige;
	width: 100%;
	overflow-x: hidden;
	font-size: 16px;

	@media (max-width: $breakpointTablet) {
		font-size: 14px;
	}

	@media (max-width: $breakpointMobile) {
		font-size: 12px;
	}
}

ul {
	list-style: none
}

a {
	cursor: pointer;
	text-decoration: none;
	transition: opacity $transitionFast;
}

a:hover {
	opacity: 0.5;
}

.clickable {
	cursor: pointer !important;
	transition: opacity $transitionFast;
	
	&:hover {
		opacity: 0.5;
	}
}

p {
	font-family: $fontParagraph;
	font-size: 1.2rem;
	color: $brown;
}

h1, h2, h3, h4, h5, h6, button, input, textarea {
	font-family: $fontPrimary;
}

h2 {
	font-family: $fontSecondary;
	text-transform: uppercase;
	font-size: 7.5rem;
	line-height: 6.5rem;
	letter-spacing: -0.03rem;
	font-weight: $regular;
	color: $yellow;
}

h3 {
	font-size: 1.8rem;
	line-height: 2.2rem;
	font-weight: $regular;
	color: $brown;
}

h4 {
	text-transform: uppercase;
	font-size: 1.4rem;
	line-height: 1.4rem;
	font-weight: $black;
	color: $teal;
}

h5 {
	font-family: $fontPrimary;
	text-transform: uppercase;
	font-size: 0.9rem;
	line-height: 0.9rem;
	font-weight: $medium;
	color: $teal;
}

h6 {
	text-transform: uppercase;
	font-size: 1rem;
	line-height: 1.1rem;
	font-weight: $black;
	color: $teal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
	border: 0px solid $teal;
	-webkit-text-fill-color: $brown;
	-webkit-box-shadow: 0 0 0 1000px white inset;
}

input, textarea {
	padding: $spacingStandard;
	box-sizing: border-box;
	border: none;
	outline-color: $teal;
	font-size: 1rem;
	color: $brown;
	font-weight: $black;
	resize: none;
}

button, input[type=submit] {
	background: $yellow;
	cursor: pointer;
	border: none;
	padding: $spacingStandard $spacingExtraDouble;

	text-transform: uppercase;
	font-size: 1rem;
	font-weight: $black;
	color: $beige;
}

form {
	display: flex;
	flex-direction: column;
}

*::placeholder {
    color: $brown;
}